%div{class: "#{page_slug}-eyecatch is-relative"}
  %div{class: "#{page_slug}-eyecatch__shade"}
  .container{class: "#{page_slug}-eyecatch__container"}
    %div{class: "#{page_slug}-eyecatch__hgroup"}
      %h1{class: "#{page_slug}-eyecatch__logo"} ReType
      %p{class: "#{page_slug}-eyecatch__lead"} Static Site Generator.
    - if not current_user
      = link_to "Sign In", new_user_session_path, class: "#{page_slug}-eyecatch__signin"
      = link_to "Sign Up", new_user_registration_path, class: "#{page_slug}-eyecatch__signup"
