%div{class: "#{page_slug}-features"}
  .container
    %div{class: "#{page_slug}-features__items"}
      .row
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %i.fa.fa-files-o{class: "#{page_slug}-features__icon"}
            %h2{class: "#{page_slug}-features__title"} テーマを選んで
            %div{class: "#{page_slug}-features__body"}
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %i.fa.fa-files-o{class: "#{page_slug}-features__icon"}
            %h2{class: "#{page_slug}-features__title"} データを入力
            %div{class: "#{page_slug}-features__body"}
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %i.fa.fa-files-o{class: "#{page_slug}-features__icon"}
            %h2{class: "#{page_slug}-features__title"} デプロイ
            %div{class: "#{page_slug}-features__body"}
